name: Build and Release macOS App

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install py2app

    - name: Build macOS Application
      run: |
        python3 setup.py py2app

    - name: Zip Application
      run: |
        cd dist
        zip -r ClipX.zip ClipX.app
        cd ..

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/ClipX.zip
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
